body{
    font-family: 'Oswald', sans-serif;
}
.container{
    margin-bottom: 60px;
}
.orange-bg{
    background-color: #fceae8;
    border-radius: 15px;
}
.carousel-item{
    padding: 2rem 4rem;
}
.price{
    color: #ff136f;
}
.buy-now-button{
    background-image: linear-gradient(to bottom, #FF589B 0%, #ff136f 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}
.buy-now-button:hover{
    background-image:none;
    color: #FF589B;
    border-image: 5px solid linear-gradient(to bottom, #FF589B 0%, #ff136f 100%);
}
.cat1, .cat2, .cat3{
    padding: 10px 30px;
    border-radius: 10px;
    color: white;
}
.cat1{
    background-image: linear-gradient(to right, #ff9b06 0%, #ffb300 100%);
}
.cat2{
    background-image: linear-gradient(to right, #FF589B 0%, #ff136f 100%);
}
.cat3{
    background-image: linear-gradient(to right, #0022ff 0%, #01049e 100%);
}
.card-desing{
    border: none;
    box-shadow: 5px 5px 10px lightgrey;
    border-radius: 10px;
}

.card-footer{
    border-top: none;
}
#Contact{
    height: 350px;
}
#Contact h6{
    color: gray;
}
footer{
    text-align: center;
}
